# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other Files
*.pro
*.user
*.stash
reps/
Makefile

# PngEmbedder
PngEmbedder/pngEmbedder
PngEmbedder/Test/test
PngEmbedder/Test/test/Tile8x8-nq8.png.inl



